#footer {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: var(--white);
    width: 100vw;
    
  }
  
  
  #short {
  width: 100%; 
  max-width: 42rem;
  
  }
  
  
  #footer #site-logo svg {
   
    width: 6rem; 
    height: 7.2rem; 
  }
  
  #footer p {
  
  margin-bottom: 0 !important; 
  }

  #footer a {
    color: var(--black);

  }
  
  #footer a:hover {
    color: var(--body-copy);
    
  }

  #footer-left {
    background-color: var(--light-backgrond);
    padding: var(--container);
    grid-area: 1 / 1 / 2 / 11; 
    
  }
  
  
  #footer-right {
  
    padding: var(--container);
    grid-area: 1 / 12 / 2 / 13;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-start;
    padding: var(--container);
  
  
  }
  
  
  
  #social-icons {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    
    
  
  }
  
  
  #social-icons a {
    text-decoration: none;
    fill: var(--black);
    position: relative;
    top: 1rem;
  }
  
  #social-icons a:hover {
    fill: var(--body-copy);
  }
  
  
  
  #social-icons .icons {
    width: auto; 
    height: 3rem; 
  
  }


  #handle {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  
  }
  

  #top-button {
    margin-top: 1.2rem; 
  }
  #top-button-link span {
    margin-top: -2.4rem; 
  }

@media (min-width: 76.8em) and (max-width: 102.4em) {

}

@media (min-width: 42.5em) and (max-width: 76.8em) {

  #footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
  
  }
  
  #footer-left {
    grid-area: 1 / 1 / 2 / 2; 
    background-color: var(--light-backgrond);
    padding: var(--container);
  
  }
  
  
  #footer-right {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    padding: var(--container);
    display: block;

  
  
  }


}

@media only screen and (max-width: 42.5em) {

  #footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
  
  }
  
  #footer-left {
    grid-area: 1 / 1 / 2 / 2; 
    background-color: var(--light-backgrond);
    padding: var(--container);
  
  }
  
  
  #footer-right {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    padding: var(--container);
    display: block;
  
  
  
  }

}
